body {
	min-width: 1220px;
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', arial, sans-serif;
	src:url(..fonts\google\PT_Sans-Web-Bold.ttf);
	src: url(..\fonts\google\PT_Sans-Web-Regular.ttf);
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	background-color: #f2f2f2;
	align-items: center;
	/* box-shadow: 0 0 10px rgba(0,0,0,0.3); */
}
a{
	text-decoration:none;
}
.main-navigation {
	font-size: 14px;
	line-height: 26px;
	display: flex;
	flex-direction:column;
	align-items: center;
  	color: #000000;
	list-style: none;
	background-color: #ffffff;
	margin: 0 auto;
	padding: 0;
	width: 1200px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.3)

}
.main-navigation a{
	color: #000000;
}
.main-navigation a:hover,
.main-navigation a:focus {
	color: #81b3d2;
}
.main-navigation a:active {
	color: rgba(0, 0, 0, 0.3)
}
.site-navigation {
	width: 100%;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	
	padding:0;
	margin: 0;
	/* background: rgba(234, 255, 45, 0.2);
	box-shadow: inset 0 0 0 2px rgb(234, 255, 45); */
}
.info{
	;
}
.foto-video{
	margin-right: auto;
}
.map{
	margin-left: auto;
}
.foto-video{
	;
}
.site-navigation li {
	min-width: 239px;

	padding: 0px;
	/* background: rgba(234, 200, 45, 0.2);
	box-shadow: inset 0 0 0 2px rgb(234, 200, 45); */
	vertical-align: middle;
}
.site-navigation a {
	display: block;
	padding: 14px 20px;
	/* background: rgba(234, 230, 45, 0.2);
	box-shadow: inset 0 0 0 2px rgb(234, 230, 45); */
	vertical-align: middle;
}

.main-header-logo{
	position: absolute;
	margin: 0px;
	padding: 0px;
	order: 1;
}
.greeting{
	width: 1200px;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
	height: 509px;
	margin: 0px auto;
	background: 
		url(../img/polygon.svg)no-repeat,
		url(../img/background-photo.jpg) no-repeat;
	background-position:bottom, 0px -56px;
}
.welcome-image{
	margin-top: 76px;
}
.motivator{
	width: 1200px;
	min-height: 216px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	margin:0px auto;
	padding: 0px;
	background-color: #ffffff
}
.tagline{
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	width: 489px;
	margin:0px auto;
	padding: 0px;
	padding-top: 61px;
	
}
.reasons{
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	width: 489px;
	margin:0px auto;
	padding: 0px;
	padding-top: 38px;
	padding-bottom: 56px;
}
.filter{
	background: url(../img/filter-background.jpg)no-repeat
}
.list-of-benefits {
	list-style: none;
}
.footer-social {
	list-style: none;
}
.reasons {
	font-size: 14px;
	line-height: 21px;
	color: #eb0606;
	font-weight: normal;
}
.benefits-headlines{
	color: #07cc28
}
.benefits-blue {
	background-color: #81b3d2;
	color: #ffffff;
}
.benefits-gray {
	background-color: #eeeeee;
	color: #000000
}
.filter-button-blue {
	font: inherit;
	font-size: 14px;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;
	width: 110px;
	height: 27px;
}
.filter-button-brown {
	font: inherit;
	font-size: 14px;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #766357;
	border: none;
	width: 142px;
	height: 27px;
}
.filter-button-transparent{
	font: inherit;
	font-size: 14px;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;
	width: 133px;
	height: 32px;
}
.filter-button-blue:hover,
.filter-button-blue:focus {
	background-color: #669ec0;
}
.filter-button-blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

.filter-button-brown:hover,
.filter-button-brown:focus {
	background-color: #604e43;
}
.filter-button-brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3)
}	

.filter-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #ffffff;
}
.footer-copyright{
	font: inherit;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: normal;
}
.interesting {
	font: inherit;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: #000000;
}
.small-font{
	font: inherit;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #333333;
	font-weight: normal;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.founded-housing{
	background: #ffffff;
}