body {
	min-width: 1220px;
	margin: 0;
	padding: 0;
	/* @font-face {
		font-family: 'PT Sans', arial, sans-serif;
		src: url(..\fonts\web\ptsans.woff)format('woff'),
			url(..\fonts\web\ptsans.woff2)format('woff2'),
			url(..\fonts\web\ptsansbold.woff)format('woff'),
			url(..\fonts\web\ptsansbold.woff2)format('woff2'),

			url(..\fonts\google\PT_Sans-Web-Bold.ttf)format('truetype'),
			url(..\fonts\google\PT_Sans-Web-Regular.ttf)format('truetype');
	 */
	font-family: 'PT Sans', arial, sans-serif;
	src:url(..\fonts\google\PT_Sans-Web-Bold.ttf);
	src: url(..\fonts\google\PT_Sans-Web-Regular.ttf);

	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	background-color: #f2f2f2;
	align-items: center;
	/* box-shadow: 0 0 10px rgba(0,0,0,0.3); */
}
a{
	text-decoration:none;
}
.main-navigation {
	font-size: 14px;
	line-height: 26px;
	display: flex;
	flex-direction:column;
	align-items: center;
  	color: #000000;
	list-style: none;
	background-color: #ffffff;
	margin: 0 auto;
	padding: 0;
	width: 1200px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.3)

}
.main-navigation a{
	color: #000000;
}
.main-navigation a:hover,
.main-navigation a:focus {
	color: #81b3d2;
}
.main-navigation a:active {
	color: rgba(0, 0, 0, 0.3)
}
.site-navigation {
	width: 100%;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	
	padding:0;
	margin: 0;
	/* background: rgba(234, 255, 45, 0.2);
	box-shadow: inset 0 0 0 2px rgb(234, 255, 45); */
}
.info{
	;
}
.foto-video{
	margin-right: auto;
}
.map{
	margin-left: auto;
}
.foto-video{
	;
}
.site-navigation li {
	min-width: 239px;

	padding: 0px;
	/* background: rgba(234, 200, 45, 0.2);
	box-shadow: inset 0 0 0 2px rgb(234, 200, 45); */
	vertical-align: middle;
}
.site-navigation a {
	display: block;
	padding: 14px 20px;
	/* background: rgba(234, 230, 45, 0.2);
	box-shadow: inset 0 0 0 2px rgb(234, 230, 45); */
	vertical-align: middle;
}

.main-header-logo{
	position: absolute;
	margin: 0px;
	padding: 0px;
	order: 1;
}
.greeting{
	width: 1200px;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
	height: 509px;
	margin: 0px auto;
	background: 
		url(../img/polygon.svg)no-repeat,
		url(../img/background-photo.jpg) no-repeat;
	background-position:bottom, 0px -56px;
}
.welcome-image{
	margin-top: 76px;
}
.motivator{
	width: 1200px;
	min-height: 216px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	margin:0px auto;
	padding: 0px;
	padding-bottom: 50px;
	background-color: #ffffff
}
.tagline{
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	width: 489px;
	margin:0px auto;
	padding: 0px;
	padding-top: 61px;
	padding-bottom: 38px;
}
.reasons-black{
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	width: 489px;
	margin:0px auto;
	padding: 0px;
	/* padding-top: 38px; */
	/* padding-bottom: 56px; */
}
.reasons-blue{
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;;
	margin:0px auto;
	/* margin-top: 46; */
	padding-left: 60px;
	padding-right: 60px; 
	padding-top: 38px;
	/* padding-bottom: 60px; */
}
.reasons-white{
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;;
	margin:0px auto;
	padding: 30px;
	/* padding-top: 38px; */
	padding-bottom: 82px;
	color: #333333;
}
.reasons-gray{
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;;
	margin:0px auto;
	margin-top:25px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 56px;
	color: #333333
}
.filter{
	background: url(../img/filter-background.jpg)no-repeat;
	background-position: 0px -294px;
	width: 1200px;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
	min-height: 217px;
	margin: 0px auto;
	padding: 0px; 
}
.list-of-benefits {
	list-style: none;
	width: 1200px;
	margin:0px auto;
	padding: 0px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	display: flex;
	flex-wrap:wrap;
}
.list-of-benefits-city{
	list-style: none;
	width: 1200px;
	min-height: 216px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	margin:0px auto;
	padding: 0px;
	padding-top: 60px;
	display: flex;
	background-color: #ffffff;
}
.conteiner{
	width: 1200px;
	min-height: 216px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	margin:0px auto;
	padding: 0px;
	display: flex;
}
.benefits-headlines-black{
	color: #000000;
	margin: 0px;
	padding-top: 30px;
}
.benefits-headlines-blue{
	color: #ffffff;
	margin-top: 46px;
}
.benefits-headlines-gray{
	color: #000000;
	margin: 0px;
	padding-top: 50px;
	margin-bottom: 25px;
}
.benefits-blue {
	width: 400px;
	height: auto;
	margin: 0px;
	padding: 0px;
	background-color: #81b3d2;
	color: #ffffff;
}
.benefits-gray {
	width: 400px;
	background-color: #eeeeee;
	color: #000000;
	display: block;
	margin: 0px;
	padding: 0px;
}
.filter-button-blue {
	font: inherit;
	font-size: 14px;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;
	width: 110px;
	height: 27px;
	margin-right:auto; 
}
.filter-button-brown {
	font: inherit;
	font-size: 14px;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #766357;
	border: none;
	width: 142px;
	height: 27px;
}
.filter-button-transparent{
	font: inherit;
	font-size: 14px;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;
	width: 133px;
	height: 32px;
}
.filter-button-blue:hover,
.filter-button-blue:focus {
	background-color: #669ec0;
}
.filter-button-blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

.filter-button-brown:hover,
.filter-button-brown:focus {
	background-color: #604e43;
}
.filter-button-brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3)
}	

.filter-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.interesting {
	font: inherit;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: #000000;
	margin: 0px;
	padding: 0px;
}
.small-font{
	font: inherit;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #333333;
	font-weight: normal;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hotel-search{
	width: 1200px;
	min-height: 216px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	margin:0px auto;
	padding: 0px;
	padding-top: 54px;
	background-color: #ffffff
}
.interesting{
	margin: 0px;
	margin-bottom: 30px;
	padding: 0px;
}
.search-button{
	width: 568px;
	height: 86px;
	margin:0px auto;
	margin-top: 47px;
	padding: 0px;
	background-color: #766357;
	font-family: inherit;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.24;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
}
.search-form{
	width: 568px;
	height: 395px;
	background-color: #ffffff;
	box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
	align-items: center;
	margin:0px auto;
	padding: 0px;
	font-family: inherit;
	font-size: 14px;
}
.search-form p{
	margin: 0px;
}
.button-plus{
	width: 38px;
	height: 38px;
	font-family: inherit;
	text-transform: uppercase;
	font-size: 0px;
	font-weight: bold;
	text-align: center;
}
.plus {
	background: #000000;
	height: 12px; 
	width: 3px;
	position: relative; 
	left: 8px;

}
	.plus:after {
	content: "";
	height: 3px; 
	width: 12px;
	background: #000000;
	position: absolute; 
	left: -4px; 
	top: 4px;
}
.button-minus{
	width: 38px;
	height: 38px;
	font-family: inherit;
	text-transform: uppercase;
	font-size: 0px;
	font-weight: bold;
	text-align: center;
}
.minus{
	background: #000000;
	height: 3px; 
	width: 11px;
	position: relative; 
	left: 8px;
}
.search-icon{
	font-family: inherit;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.find-button{
	width: 458px;
	height: 58px;
	background: #81b3d2;
	border: none;
	font-family: inherit;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}
.map-image{
	margin-bottom: -120px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.3);
}
.main-footer{
	list-style: none;
	width: 1200px;
	min-height: 120px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	margin:0px auto;
	padding: 0px;
	display: flex;
	background-color: #ffffff;
	opacity: 0.9;
	z-index: 1;
	align-items: center;
	justify-content: space-between;
}
.catalog-footer{
	list-style: none;
	width: 1200px;
	min-height: 120px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	margin:0px auto;
	padding: 0px;
	display: flex;
	background-color: #ffffff;
	border-top: 1px solid #f2f2f2;
	align-items: center;
	justify-content: space-between;	
}
.footer-name{
	width: 400px;
	align-items: center;
}
.footer-social {
	width: 400px;
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:center;
}
.footer-copyright-conteiner{
	width: 400px;
	align-items: center;
	display: flex;
	padding: 0px;
	margin: 0px auto;
	justify-content: center;
}
.footer-copyright{
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: normal;
	padding: 0px;
	margin: 0px ;
}
.htmlacademy-logo{
	padding: 0px;
	margin: 0px ;
	margin-left: 8px;
}




.filter-form{
	padding-top: 29px;
	display: flex;
	min-height: 217px;
}
.infrastructure-fieldset{
	border: none;
	color: #ffffff;
	text-align: left;
	font-size: 16px;
	margin: 0px;
	margin-left: 72px;
	padding: 0px;
}
.type-of-housing-fieldset{
	border: none;
	color: #ffffff;
	text-align: left;
	font-size: 16px;
	margin: 0px;
	margin-left: 115px;
	padding: 0px;
}
.price-fieldset{
	border: none;
	color: #ffffff;
	text-align: left;
	font-size: 16px;
}
.filter-elements{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.filter-elements li{
	font-size: 14px;
	margin-top:28px;
	margin-bottom: 22px;
}
.filter-range {
	width: 330px;
	margin-left: auto;
	margin-right: 74px;
	color: #ffffff;
	text-transform: uppercase;
  }
  
  .filter-range-title {
	margin-bottom: 9px;
	text-align: left;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
  }
  
  .price-controls {
	position: relative;
	
	height: 36px;
	margin-bottom: 20px;
	
	font-size: 0;
  
	border: 2px solid #ffffff;
	border-radius: 2px;
  }
  
  .price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
  
	width: 2px;
	height: 22px;
  
	background: #ffffff;
	transform: translate(-50%, -50%);
  }
  
  .price-controls label {
	display: inline-block;
  
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
  
	cursor: pointer;
  }
  
  .price-controls .min-price,
  .price-controls .max-price {
	width: 90px;
	padding-left: 65px;
  }
  
  .price-controls input {
	width: 50px;
	margin: 0;
  
	color: inherit;
	font: inherit;
  
	background: none;
	border: none;
  }
  
  .range-controls {
	position: relative;
  
	margin-bottom: 32px;
  }
  
  .range-controls .scale {
	height: 2px;
  
	background: rgba(255, 255, 255, 0.3);
  }
  
  .range-controls .bar {
	width: 80%;
	height: 2px;
  
	background: #ffffff;
  }
  
  .range-toggle {
	position: absolute;
	top: -9px;
	
	width: 4px;
	height: 4px;
  
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
  }
  
  .range-toggle:hover {
	background: #1c4f80;
  }
  
  .range-toggle-min {
	left: 0;
  }
  
  .range-toggle-max {
	left: 80%;
  }
  
  .btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
  
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
  
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
  }
   .btn-transparent:hover {
	color: #000000;
  	background: #ffffff;
  }

  .founded-housing{
	background: #ffffff;
	width: 1200px;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
	margin: 0px auto;
	padding: 0px;
}
.ascending-sorting{
	font-size: 0px 
}
.descending-sorting{
	font-size: 0px
}
.founded-housing-headlines{
	width: 200px;
	margin:0px;
	font-size: 21px;
	line-height: 26px;
}
.sorting{
	list-style: none;
	display: flex;
	flex-direction: row;
	padding: 0px;
	margin: 0px;
}
.sorting li{
	padding-left: 20px;
	color: #81b3d2;
}
.sorting-conteiner{
	display: flex;
	flex-direction: row;
	font-size: 12px;
	line-height: 18px;
	padding: 32px;
}
.founded-housing-list{
	list-style: none;
	margin:0px;
	padding: 0px;
	font-size: 14px;
}
.founded-housing-list li{
	margin: 0px;
	padding: 0px;
	border-top: 1px solid #f2f2f2;
	display: flex;
	padding-left:72px;
	padding-right: 72px;
	padding-top:30px;
	padding-bottom: 30px;
}
.founded-housing-list img{
	order:-1;
}
.founded-housing-list h3{
	font-size: 21px;
	margin: 0px;
}
.founded-housing-conteiner{
	margin: 0px;
	margin-left: 30px;
	padding: 0px;
	width: 260px;
	height: 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.founded-housing-rating{
	margin: 0px;
	margin-left: auto;
	padding: 0px;
	width:100px;
}
