/* @font-face {
	font-family: "PT Sans";
	font-weight: bold;
	src: 
		url(../fonts/web/ptsansbold.woff)format('woff'),
		url(../fonts/web/ptsansbold.woff2)format('woff2')
}
@font-face {
	font-family: "PT Sans";
	font-weight: normal;
	src: 
		url(../fonts/web/ptsans.woff)format('woff'),
		url(../fonts/web/ptsans.woff2)format('woff2'),
} */
body{
	margin: 0 auto;
	padding: 0;
	width: 1200px;
	-webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	        box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	font-family: "PT Sans", arial, sans-serif;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	background-color: #f2f2f2;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	letter-spacing: 0.25px;
}
a{
	text-decoration:none;
}
.main-navigation{
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0.09px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
  	color: #000000;
	list-style: none;
	background-color: #ffffff;
	margin: 0 auto;
	padding: 0;
	width: 1200px;
	-webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	        box-shadow: 0 10px 10px rgba(0,0,0,0.3)
}
.site-navigation{
	color: #000000;
	width: 100%;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding:0;
	margin: 0;
}
.info{
	text-align: left;
	margin-left: 71px;
}
.foto-video{
	text-align: left;
	margin-right: auto;
}
.map{
	text-align: right;
	margin-left: auto;
}
.catalog{
	text-align: right;
	margin-right: 71px;
}
.site-navigation li{
	width: 243px;
	height: 44px;
	padding: 0px;
	padding-top:12px;
	vertical-align: middle;
}
.site-navigation a{
	color: #000000;
	margin-top: 14px;
	margin-bottom: 16px;
	vertical-align: middle;
	text-align: left;
}
.catalog-current{
	text-align: right;
	margin-right: 71px;
}
.site-navigation .catalog-current-a{
	color: #766357;
}
.site-navigation a:hover,
.site-navigation a:focus{
	color: #81b3d2;
}
.site-navigation a:active{
	color: rgba(0, 0, 0, 0.3)
}
.main-header-logo{
	position: absolute;
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 50%;
  	-webkit-transform:translate(-50%);
  	        transform:translate(-50%);
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
}
.greeting{
	width: 1200px;
	-webkit-box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
	        box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
	height: 509px;
	margin: 0px auto;
	background: 
		url(../img/background-photo.jpg) 0px -56px no-repeat;
	background-color: #356998;
}
.greeting::after{
	content: "";
	position: absolute;
 	height: 59px;
	width: 1200px;
	background:  
	url(../img/polygon.svg) no-repeat;
	top: 538px;
	left: 50%;
  	-webkit-transform:translate(-50%, -50%);
  	        transform:translate(-50%, -50%);
}
.welcome-image{
	margin-top: 76px;
}
.motivator{
	width: 1200px;
	min-height: 216px;
	-webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	        box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	margin:0px auto;
	padding: 0px;
	padding-bottom: 0px;
	background-color: #ffffff;
}
.tagline{
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	width: 489px;
	margin:0px auto;
	padding: 0px;
	padding-top: 61px;
	padding-bottom: 28px;
}
.reasons-black-motivator{
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
	width: 520px;
	margin:0px auto;
	padding: 0px;
	letter-spacing: 0.08px;
}
.filter{
	background: url(../img/filter-background.jpg)no-repeat;
	background-position: 0px -294px;
	background-color: #6b869b;
	width: 1200px;
	-webkit-box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
	        box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
	min-height: 217px;
	margin: 0px auto;
	padding: 0px; 
}
.conteiner{
	width: 1200px;
	min-height: 216px;
	-webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	        box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	margin:0px auto;
	padding: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.list-of-benefits{
	list-style: none;
	width: 1200px;
	margin:0px auto;
	padding: 0px;
	-webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	        box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
}
.list-of-benefits-city{
	list-style: none;
	width: 1200px;
	-webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	        box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	margin:0px auto;
	padding: 0px;
	padding-top: 54px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	background-color: #ffffff;
}
.list-of-benefits-city li{
	width: 400px;
	height: auto;
}
.benefits-headlines-black{
	font-size: 21px;
	color: #000000;
	margin: 0px;
	padding-top: 27px;
	padding-bottom: 23px;
}
.benefits-headlines-blue{
	width: 330px;
	font-size: 21px;
	color: #ffffff;
	margin-top: 46px;
	margin-left: auto;
	margin-right: auto;
}
.benefits-headlines-city{
	width: 140px;
	font-size: 21px;
	color: #ffffff;
	margin-top: 46px;
	margin-left: auto;
	margin-right: auto;
}
.benefits-headlines-gray{
	width: 150px;
	font-size: 21px;
	color: #000000;
	margin: 0px;
	padding-top: 48px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
.reasons-blue{
	width: 310px;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	letter-spacing: 0.09px;
	margin:0px auto;
	padding-top: 19px;
}
.reasons-blue-city{
	width: 280px;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	letter-spacing: 0.09px;
	margin:0px auto;
	padding-top: 21px;
}
.reasons-white{
	width: 290px;
	font-size: 14px;
	line-height: 22px;
	font-weight: normal;
	letter-spacing: 0.09px;
	margin:0px auto;
	padding-left: 30px;
	padding-right:30px;
	padding-bottom: 82px;
	color: #333333;
}
.reasons-gray{
	width: 265px;
	font-size: 14px;
	line-height: 23px;
	font-weight: normal;
	letter-spacing: 0.09px;
	margin:0px auto;
	margin-top:18px;
	padding-bottom: 56px;
	color: #333333
}
.reasons-black{
	width: 450px;
	font-size: 14px;
	line-height: 23px;
	font-weight: normal;
	letter-spacing: 0.09px;
	margin:0px auto;
	margin-bottom: 0px;
	padding-bottom: 48px;
	color: #333333
}
.benefits-blue{
	width: 400px;
	height: auto;
	margin: 0px;
	padding: 0px;
	background-color: #81b3d2;
	color: #ffffff;
}
.benefits-gray{
	width: 400px;
	background-color: #eeeeee;
	color: #000000;
	display: block;
	margin: 0px;
	padding: 0px;
}
.filter-button-blue{
	font: inherit;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #81b3d2;
	border: none;
	width: 110px;
	height: 27px;
	margin: 0px;
	padding: 0px;
	margin-right: auto;
	-ms-flex-item-align: end;
	    align-self: flex-end;
}
.filter-button-brown{
	font: inherit;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #766357;
	border: none;
	width: 142px;
	height: 27px;
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	-ms-flex-item-align: end;
	    align-self: flex-end;
}
.filter-button-transparent{
	font: inherit;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #81b3d2;
	border: none;
	width: 133px;
	height: 32px;
}
.filter-button-blue:hover,
.filter-button-blue:focus{
	background-color: #669ec0;
}
.filter-button-blue:active{
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3)
}
.filter-button-brown:hover,
.filter-button-brown:focus{
	background-color: #604e43;
}
.filter-button-brown:active{
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3)
}	
.filter-item input{
	font: inherit;
	background-color: transparent;
	border: 2px solid #ffffff;
}
.interesting{
	font: inherit;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: #000000;
	margin: 0px;
	padding: 0px;
	margin-bottom: 25px;
}
.small-font{
	font: inherit;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #333333;
	font-weight: normal;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
			clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.hotel-search{
	width: 1200px;
	-webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	        box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	margin:0px auto;
	padding: 0px;
	padding-top: 50px;
	background-color: #ffffff;
}
.map-conteiner{
	padding: 0px;
	margin:0px;
	z-index: 0;
	background-color: #ffffff;
}
.modal-search{
	margin: 0px;
	padding: 0px;
	margin-bottom: -395px;
	position: relative;
	z-index: 0;
}
.search-button{
	width: 568px;
	height: 86px;
	margin:0px auto;
	margin-bottom: 0px;
	padding: 0px;
	background-color: #766357;
	border: none;
	font-family: inherit;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}
.search-button:hover,
.search-button:focus{
	background-color: #604e43;
}
.search-button:active{
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}
.search-form{
	width: 568px;
	height: 395px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
	        box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
	margin:0px auto;
	padding: 0px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-family: inherit;
	font-size: 14px;
}
.checkin{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 38px;
	width: 458px;
	margin: 0px;
	padding: 0px;
	margin-top: 55px;
	margin-bottom: 0px;
}
.checkout{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 38px;
	width: 458px;
	margin: 0px;
	padding: 0px;
	margin-top: 30px;
	margin-bottom: 0;
}
.checkin-date{
	width: 118px;
	text-align: left;
	margin-left: 0px;
	margin-right: auto;
	margin-top: 9px;
	margin-bottom: 10px;
}
.checkout-date{
	width: 118px;
	text-align: left;
	margin-left:0px;
	margin-right: auto;
	margin-top: 9px;
	margin-bottom: 10px;
}
.adults-number{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0px;
	padding: 0px;
	margin-left: 55px;
	margin-right: 31px;
	margin-top: 30px;
	margin-bottom: auto;
}
.children-number{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0px;
	padding: 0px;
	margin-right: 55px;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: auto;
}
.adults-and-children{
	width: 112px;
	text-align: left;
	margin-top: 9px;
	margin-bottom: 10px;
	margin-right: 0px;
}
.children-label{
	width: 60px;
	text-align: right;
	margin-top: 9px;
	margin-bottom: 10px;
	margin-right: 26px;
	padding-right: 0px;	
}
.button-plus{
	width: 38px;
	height: 38px;
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: #f2f2f2;
	font-family: inherit;
	text-transform: uppercase;
	font-size: 0px;
	font-weight: bold;
	text-align: center;
	color: #bdbbbc;
}
.button-plus::after{
	display: block;
	text-align: center;
	font-size: 25px;
	content: "+";
}
.button-plus:hover,
.button-plus:focus{
	color: #000000;
}
.button-plus:active{
	color: #81b3d2;
}
.button-minus{
	width: 38px;
	height: 38px;
	margin: 0px;
	padding: 0px;
	border: none;
	background-color: #f2f2f2;
	font-family: inherit;
	text-transform: uppercase;
	font-size: 0px;
	font-weight: bold;
	text-align: center;
	color: #bdbbbc;
}
.button-minus::after{
	display: block;
	text-align: center;
	font-size: 16px;
	content: "—";
}
.button-minus:hover,
.button-minus:focus{
	color: #000000;
}
.button-minus:active{
	color: #81b3d2;
}
.search-icon{
	font-family: inherit;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	width: 308px;
	height:38px;
	margin: 0px;
	margin-left: auto;
	padding: 0px;
	padding-left: 13px;
	border: #f2f2f2;
	background-color: #f2f2f2;
}
.search-icon:hover{
	background-color: #e5e5e5;
}
.search-icon:focus{
	background-color: #ffffff;
	border: #ebebeb;
	border: 2px;
}
.search-icon:active{
	background-color: #ffffff;
	border: #e5e5e5;
}
.children-number input{
	color: #000000;
}
.search-icon-people{
	font-family: inherit;
	text-transform: uppercase;
	font-size: 14px;
	line-height:26px;
	font-weight: bold;
	color:#000000;
	width: 38px;
	height:38px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	border: none;
	background-color: #f2f2f2;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.calendar{
	width: 38px;
	height: 38px;
	margin: 0px;
	padding: 0px;
	-ms-flex-item-align: start;
	    align-self: flex-start;
	border: none;
	background-color: #f2f2f2;
}
.calendar:hover path,
.calendar:focus path{
	fill: #000000;
}
.calendar:active path{
	fill: #81b3d2;
}
.calendar svg{
	margin: 0px;
	padding: 0px;
}
.find-button{
	width: 458px;
	height: 58px;
	margin-top: 54px;
	background: #81b3d2;
	border: none;
	font-family: inherit;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}
.find-button:hover,
.find-button:focus{
	background-color: #669ec0;
}
.find-button:active{
	background-color: #5496bd;
}
.find-button:active{
	color:rgba(255, 255, 255, 0.3);
}
.map-image{
	margin-bottom: -120px;
	z-index: 1;
	-webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	        box-shadow: 0 10px 10px rgba(0,0,0,0.3);
}
.main-footer{
	list-style: none;
	width: 1200px;
	height: 120px;
	-webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	        box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	margin:0px auto;
	padding: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #ffffff;
	opacity: 0.9;
	z-index: 2;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.catalog-footer{
	list-style: none;
	width: 1200px;
	min-height: 120px;
	-webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	        box-shadow: 0 10px 10px rgba(0,0,0,0.3);
	margin:0px auto;
	padding: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #ffffff;
	border-top: 1px solid #f2f2f2;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;	
}
.footer-name{
	width: 400px;
	margin-left: 1px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer-social{
	width: 396px;
	margin-left: 5px;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}
.footer-social li{
	width: 46px;
	height: 48px;
	margin: 3px;
	padding: 0px;
}
/* !!! У меня появляется этот Padding и смещяет ссылки на сосети. Поэтому пришлось ввести такой фильтр. */
ul{
	-webkit-padding-start: 0px;
	/* padding-inline-start: 0px; */
}
.social-button{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 46px;
	height: 48px;
	margin: 0px;
	padding: 0px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #81b3d2;
}
.social-button svg{
	margin: 0px auto;
	padding: 0px;
	margin-top: 50%;
	margin-bottom: 50%;
}
.social-button:hover,
.social-button:focus{
	background-color: #669ec0;
}
.social-button:active{
	background-color: #5496bd;
}
.social-button:active path{
	opacity: 0.3;
}
.footer-copyright-conteiner{
	width: 400px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0px;
	margin: 0px;
	margin-left: 10px;
	letter-spacing: 0.1px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.footer-copyright{
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: normal;
	padding: 0px;
	margin: 0px ;
}
.htmlacademy-logo{
	padding: 0px;
	margin: 0px ;
	margin-left: 8px;
}
.htmlacademy-logo:hover path,
.htmlacademy-logo:focus path{
	fill: #81b3d2;
}
.htmlacademy-logo:active path{
	fill: #bdbbbc;	
}
/* Здесь начинается страница Catalog */
.filter-form{
	padding-top: 27px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.infrastructure-fieldset{
	border: none;
	color: #ffffff;
	text-align: left;
	font-size: 16px;
	margin: 0px;
	margin-left: 72px;
	padding: 0px;
}
.infrastructure-fieldset legend{
	padding: 0px;
	color: #ffffff;
}
.type-of-housing-fieldset{
	border: none;
	color: #ffffff;
	text-align: left;
	font-size: 16px;
	margin: 0px;
	margin-left: 115px;
	padding: 0px;
}
.type-of-housing-fieldset legend{
	padding: 0px;
	color: #ffffff;
}
.price-fieldset{
	border: none;
	color: #ffffff;
	text-align: left;
	font-size: 16px;
}
.filter-elements{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.filter-elements li{
	font-size: 14px;
	margin-top:23px;
	margin-bottom: 22px;
	font-weight: normal;
}
/* прячем input checkbox */
input[type="checkbox"]{
  display: none;
}
.filter-form-checkbox{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0px;
}
.filter-form-checkbox svg{
	margin-right: 17px;
}
.filter-range{
	width: 316px;
	margin-left: auto;
	margin-right: 73px;
	color: #ffffff;
	text-transform: uppercase;
  }
.filter-range-title{
	margin-bottom: 9px;
	text-align: left;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}
.price-controls{
	position: relative;
	height: 34px;
	margin-bottom: 18px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
  }
.price-controls::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
} 
.price-controls label{
	display: inline-block;
	font-size: 14px;
	line-height: 35px;
	vertical-align: top;
	cursor: pointer;
}
.price-controls .min-price{
	width: 107px;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: right;
}
.price-controls .max-price{
	width: 100px;
	padding-left: 0px;
	margin-left: 49px;
	margin-right: 0px;
	text-align: right;
}
.price-controls input{
	width: 50px;
	height: 30px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}
  
.range-controls{
	position: relative;
	margin-bottom: 34px;
}
  
.range-controls .scale{
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar{
	width: 80%;
	height: 2px;
	background: #ffffff;
}
.range-toggle{
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}
.range-toggle:hover{
	background: #1c4f80;
}
.range-toggle-min{
	left: 0;
} 
.range-toggle-max{
	left: 80%;
}
.btn-transparent{
	width: 137px;
	height: 35px;
	display: block;
	margin: 0;
	margin-left: 83px;
	margin-right: auto;
	padding: 6px 35px;
	font-family: inherit;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}
.btn-transparent:hover{
	color: #000000;
  	background: #ffffff;
}
.founded-housing{
	background: #ffffff;
	width: 1200px;
	-webkit-box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
	        box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
	margin: 0px auto;
	padding: 0px;
}
.rating-sorting{
	margin-right: auto;
}
.descending-sorting{
	font-size: 0px;
}
.descending-sorting-svg path{
	fill: #81b3d2;
}

.descending-sorting-svg:hover path,
.descending-sorting-svg:focus path{
	fill: #000000;
}
.descending-sorting-svg:active path{
	fill: #81b3d2;	
}
.descending-sorting-svg:visited path{
	fill: #81b3d2;
}	
.ascending-sorting{
	margin-left: auto;
}
.ascending-sorting-svg{
	-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
}
.ascending-sorting-svg path{
	fill: #cacaca;
}
.ascending-sorting-svg:hover path,
.ascending-sorting-svg:focus path{
	fill: #000000;
}
.ascending-sorting-svg:active path{
	fill: #81b3d2;	
}
.ascending-sorting-svg:visited path{
	fill: #81b3d2;
}	
.sorting-conteiner{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	font-size: 12px;
	line-height: 18px;
	padding: 27px;
	padding-left: 73px;
	padding-right: 73px;
	letter-spacing: 0.25px;
}
.headlines-conteiner{
	width:135px;
	line-height: 17px;
}
.founded-housing-headlines{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: 135px;
	margin:0px;
	font-size: 21px;
	line-height: 31px;
	padding: 0px;
}
.founded-housing-headlines span{
	margin-left: 4px;
}
.sorting{
	width:100%;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	padding: 0px;
	margin: 0px;
	letter-spacing: 0.09px;
}
.sorting-span{
	margin-left: 29px;
	margin-top:10px;
	letter-spacing: 0.09px;
	font-size: 12px;
}
.sorting li{
	color: rgba(0, 0, 0, 0.3);
	font-weight: normal;
	margin-top:10px;
	font-size: 12px;
	line-height: 18px;
}
.sorting li:hover,
.sorting li:focus{
	color: #81b3d2;
	text-decoration: underline;
	-webkit-text-decoration-style: dotted;
	        text-decoration-style: dotted;
}
.sorting li:active{
	color: #000000;
	text-decoration:none;
}
.sorting .price-sorting{
	color: #81b3d2;
	margin-left: 35px;
}
.type-sorting{
	color: rgba(0, 0, 0, 0.3);
	margin-left: 33px;
}
.rating-sorting{
	color: rgba(0, 0, 0, 0.3);
	margin-left: 33px;
	margin-right: auto;
}
.ascending-sorting{
	font-size: 0px;
	margin: 0px;
	margin-left: auto;
	margin-right: 7px;
}
.descending-sorting{
	font-size: 0px;
	margin: 0px;
}
.founded-housing-list{
	list-style: none;
	margin:0px;
	padding: 0px;
	font-size: 14px;
}
.founded-housing-list li{
	margin: 0px;
	padding: 0px;
	border-top: 1px solid #f2f2f2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left:72px;
	padding-right: 72px;
	padding-top:30px;
	padding-bottom: 30px;
}
.founded-housing-list img{
	-webkit-box-ordinal-group:0;
	    -ms-flex-order:-1;
	        order:-1;
}
.founded-housing-list h3{
	font-size: 21px;
	margin: 0px;
}
.founded-housing-conteiner{
	margin: 0px;
	margin-left: 30px;
	padding: 0px;
	width: 258px;
	height: 90px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;	
}
.founded-housing-conteiner span{
	color: #333333;
	font-size: 14px;
	line-height: 25px;
	font-weight: normal;
	width: 116px;
	text-align: left;
	margin-top:auto;
	margin-bottom: auto;
}
.founded-housing-a{
	color: #000000;
	font-size: 21px;
	line-height: 21px;
}
.founded-housing-a:hover,
.founded-housing-a:focus{
	color: #81b3d2;
}
.founded-housing-a:active{
	color: rgba(0, 0, 0, 0.3);
}
.founded-housing-rating{
	margin: 0px;
	margin-left: auto;
	padding: 0px;
	width:111px;
	color: #666666;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.founded-housing-rating img{
	width: 18px;
	height: 17px;
	margin-left: 6px;
	margin-bottom: auto;
}
.rating{
	color: #666666;
	width: 100%;
	height: 27px;
	font-weight: normal;
	line-height: 26px;
	letter-spacing: 0.09px;
	background-color: #f2f2f2;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	margin-top: auto;
	text-align: center;
}